h1 {
  font-size: $fz-h1;
  line-height: 1.2;
}

h2 {
  font-size: $fz-h2;
  line-height: 1.25;
}

h3 {
  font-size: $fz-h3;
  line-height: 1.25;
}

h4 {
  font-size: $fz-h4;
  font-weight: 400;
  line-height: 1.25;
}

.hd {
  font-size: $fz-large;
  line-height: 1.2;
  font-weight: 700;

  &--h1 {
    font-size: $fz-h1;
    line-height: 1.2;
  }

  &--h2 {
    font-size: $fz-h2;
    line-height: 1.25;
  }

  &--h3 {
    font-size: $fz-h3;
    line-height: 1.25;
  }

  &--h4 {
    font-size: $fz-h4;
    font-weight: 400;
    line-height: 1.25;
  }
}

.small {
  font-size: $fz-small;
  line-height: 1.25;
}
